Variables
:root {
	--basic-black: #000000;
	--basic-extra-dark: #242424;
	--basic-dark: #aba9a7;
	--basic-neutral: #e5e5e5;
	--basic-extra-light: #f8f5f2;
	--basic-white: #ffffff;
	--special: #663d15;
}
html,
body {
font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
height: 100%;
background-color: grey;
}
h1, h2, h3 {
text-transform: uppercase;
}
a {
text-transform: uppercase;
}
li {
list-style-type: none;

margin: 0 10px 0 10px;
}
.links_box{
display: flex;
flex-wrap: wrap;
padding: 0;
justify-content: center;
}
.link_box{
border: 1px solid red;
padding: 5px;
}
.div_wrapper {
min-height: 100%;
display: flex;
flex-direction: column;	
}
.main_wrapper {
flex: 1 1 auto;
}
.header_wrapper{
background-color: black;
color: white;	
width: 100%;
}
.a_wrapper {
color: white;
}
.main_wrapper,
.footer_wrapper{
background-color: white;
max-width: 1140px;
width: 100%;
margin-left: auto;
margin-right: auto;
}
.sect-wrapper {
margin: 15px;
}
.footer_wrapper {
max-width: 1140px;
width: 100%;
margin-left: auto;
margin-right: auto;

}
.line {
border-bottom: 1px solid rgb(82, 98, 116); /* Параметры линии */
margin: 10px 0 10px 0;
	}
.social_ico_wrapper {
display: flex;
justify-content: center;

}
.footer_p_wrapper{
margin: 10px;
text-align: center;

}
.wellcome_img {
max-width: 400px;
width: calc(100vw - 10%);	
}




 @media (max-width: 1024px) {
h1, h2 {
font-size: calc( (100vw - 10rem)/25 + 1rem);
}

/*-----------FOOTER STYLE--------------------*/
.footer_content_wrapper{
display: flex;
flex-direction: column;
}
.made_wrapper {
align-items: center;
margin-left: auto;
margin-right: auto;
padding: calc(100%-10px);
}
.social_wrapper {
margin-left: auto;
margin-right: auto;
}
.social-ico {
margin: 15px;	
}
}