*{
  box-sizing: border-box;
}

a {
color: white;
}

.footer-text {
  color: white;
}

.page-body {
font-family: 'Ubuntu', sans-serif;
display: flex;
flex-direction: row;
justify-content: center;
width: 100%;

}

.mother-box {
width: 1024px; 
background-color: rgba(155, 158, 158, 0.315);
justify-content: center;
box-shadow: 0 0 7px #666;
}

.menu {
background-color: #1d1d1fa9;
display: flex;
justify-content: space-evenly;
flex-wrap: wrap;
text-transform: uppercase;
padding: 1%;
width: 100%;

}

.link-m {
font-size: 12px;
}

.features {
  display: flex;
  width: 100%;
  
  align-items: center;
  justify-content: center;
  
}

.img {
  display: flex;
  width: 300px;
  height: 100px;
}

.features-list {
display: flex;
width: 100%;
flex-direction: row;
background-color: rgb(255, 255, 255);
list-style: none;


}

.feature-item {
  display: flex;

align-items: center;
justify-content: center;
flex-direction: column;
max-width: 310px;
}

.index-columns {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;

}
.footercontainer {
display: flex;
flex-direction: row;
justify-content: space-evenly;
align-items: baseline;
background-color: #1d1d1fa9;
flex-wrap: wrap;

}
.footer-contacts {


}
.footer-social {

}
.footer-copyright {
  display: flex;
  flex-direction: column;
 
  color: white;
}
.metrika {
  margin-top: 1%;
  display: flex;
}

.news {
 
  width: 50%;
}

/*--------------------------page 2---------------------------------*/

.rasp-cont {
  display: flex;
  margin-left: 3%;
  margin-right: 3%;
  

}




/*--------------------------media rec---------------------------------*/

@media (max-width: 320px) {
.features-list {
background-color: rgb(255, 255, 255);
flex-direction: column;
    } 
.index-columns {
flex-direction: column;
      }
.menu {
display: flex;
align-items: center;
align-content: center;
flex-direction: column;
flex-wrap: wrap;
text-transform: uppercase;

        }
        .footercontainer {
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          align-items: center;
          background-color: #1d1d1fa9;
          flex-wrap: wrap;
          }

          .news {
            
            width: 100%;
          }

        }   
@media (max-width: 640px) {
.features-list {
background-color: rgb(255, 255, 255);
flex-direction: column;

 } 
.index-columns {
flex-direction: column;
}
.menu {
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  text-transform: uppercase;
  padding: 1%;
}
.news {
  
  width: 100%;
}

}




@media (max-width: 1080px) {
  .features-list {
  background-color: rgb(255, 255, 255);
  flex-direction: column;
} 
  .index-columns {
  flex-direction: column;
}
.menu {
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  text-transform: uppercase;
  
  padding: 1%;
  

}
}
