.page-body {
  font-family: 'Ubuntu', sans-serif;
  /*height: 1024px;*/
  display: flex;
  /*background-color: gray;*/
  background-color: yellowgreen;
  flex-direction: column;
  max-width: 1200px;
  box-sizing: border-box;
}

.features {

  
}

.features-list {
display: flex;
background-color: aqua;
flex-direction: row;
}

.index-columns {
background-color: azure;
display: flex;
flex-direction: row;
}

@media (max-width: 320px) {
.features-list {
round-color: aqua;
flex-direction: column;
    } 
.index-columns {
background-color: azure;
flex-direction: column;
      }
  }
